html,
body {
  background-color: #154360;
  height: 100%;
}

.HEADER {
  display: none;
}

.HEADER > button {
  display: none;
}

.ROOT {
  width: 100%;
  height: 100%;
}

.ROOT::-webkit-scrollbar {
  width: 5px;
}

.ROOT::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ROOT::-webkit-scrollbar-thumb {
  background: #888;
}

.ROOT::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.PROFILE-AND-MENU {
  display: flex;
  position: relative;
  width: 100%;
  height: 10%;
}

.NODE {
  position: relative;
  width: 100%;
  height: 90%;
  background-color: #fff;
  overflow-y: scroll;
}

.NODE::-webkit-scrollbar {
  width: 5px;
}

.NODE::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.NODE::-webkit-scrollbar-thumb {
  background: #888;
}

.NODE::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.POSTS,
.FRIEND-LISTS,
.FRIEND-REQUEST,
.REQUEST-SENT-TO,
.OTHER-USERS {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  padding-left: 30%;
  padding-right: 30%;
}

.FRIEND-LISTS,
.FRIEND-REQUEST,
.REQUEST-SENT-TO,
.OTHER-USERS {
  display: none;
}

.USER-INFO {
  display: flex;
  background-color: #fff;
  position: sticky;
  align-items: center;
}

.MENU {
  display: flex;
  align-items: center;
}

.MENU > button {
  padding: 7.5px;
  border: none;
  background-color: transparent;
  color: #fff;
}

.MENU > button:hover {
  background-color: #f2f2f2;
  color: #007bff;
}

.MENU > button:focus,
.MENU > button:active {
  background-color: #f2f2f2;
  color: #007bff;
}

.POSTS {
  z-index: 2;
}

.POSTS .DATE-POSTED {
  pointer-events: none;
}

.POSTS .DELETE-POST,
.POSTS .DELETE-COMMENT {
  cursor: pointer;
}
